<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="Author" content=""/>
  <meta name="copyright" content=""/>
  <meta name="description" content="Welcome to my Homepage"/>
  <meta name="keywords" content=""/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./resources/css/main.css">
  </head>
<body>
  <flex-wrapper>
    <div class="glitch" data-text="About me">About me</div>
 </flex-wrapper>
 
 <flex-wrapper>
    <a class='hover_image' href='#'>
        <img src='./resources/images/me_box.png'/>
        <img  src='./resources/images/me.png' class='hide'/>
    </a>
</flex-wrapper>

<flex-wrapper>
    <div class="Aligner-item">
    <p style="color:white">
    I'm a pragmatic, technologically-oriented, cognitive scientist deeply involved in distributed systems and networks. I have several years experience as a Python programmer and developer where I prefer to write object oriented programs. I can read and write in several other languages including Javascript (nodejs) and Java. This website was created with a variety of different tools, including ruby, git, html, css, sass, and js.
    <br><br>
    My undergraduate training as an analytic philosopher (2005-2008) led me to study the embodied, extended, and enactive approaches to cognition as a graduate student at the University of Central Florida (2009-2011) and at King's College, London. After working in NYC for some time, I ended up at the Berlin School of Mind and Brain (2014-2017) where I studied again computational cognitive science and I wrote my master's thesis on recursion in vision and language. While there, I also interned in the machine learning department of the Fraunhofer Institute, and I worked as a scientific editofr for the open-access journal, ScienceOpen Research.  
    <br><br>
    Inspired by the similarities between the way in which the human mind is organized into a collection of cooperative, independent modules and peer-to-peer networks, after my Master's degree, I took up work at a software company where I developed a modeling and simulation pipeline of a network architecture. The goal of the simulation was to show how various protocols should interface with one another in an end-to-end network architecture in order to realize a  permissionless, totally decentralized, distributed ledger in a safe and efficient manner.
    <br><br>
    Lately, I've been getting into the idea of test-driven software development, and more and more, I'm believing that the only things worth thinking about are data structures & algorithms  visualization. I don't really have too much time for blogging and website design, but from time to time, I update this site in my free time.
    </p>
 	 </div>
</flex-wrapper>
<flex-wrapper>
    <p><a href="./index.html">Return</a> | <a href="./about.html">About</a> | <a href="./blog.html">Blog</a>  | <a href="./contact.html">Contact</a>  </p>
  </flex-wrapper>
</body>
</html>
