<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="Author" content=""/>
  <meta name="copyright" content=""/>
  <meta name="description" content="Welcome to my Homepage"/>
  <meta name="keywords" content=""/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
  </head>
<body>
<!--<script src="./resources/js/pageBreak.js"></script>-->
  <flex-wrapper>
    <div class="glitch" data-text="Welcome">Welcome</div>
  </flex-wrapper>
  <flex-wrapper>
    <img src="./resources/images/wolf.png" border=""width="200px" height="250px">
</flex-wrapper>
<flex-wrapper>
    <p><a href="./index.html">Return</a> | <a href="./about.html">About</a> | <a href="./blog.html">Blog</a>  | <a href="./contact.html">Contact</a>  </p>
  </flex-wrapper>
</body>
</html>
