<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="Author" content=""/>
  <meta name="copyright" content=""/>
  <meta name="description" content="Welcome to my Homepage"/>
  <meta name="keywords" content=""/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
  </head>
<body>
  <flex-wrapper>
    <div class="glitch" data-text="      __          ___ _ _<br>
          \ \        / (_) | |<br>
           \ \  /\  / / _| | | _____  _ __ ___  _ __ ___   ___ _ __<br>
            \ \/  \/ / | | | |/ / _ \| '_ ` _ \| '_ ` _ \ / _ \ '_ \<br>
             \  /\  /  | | |   < (_) | | | | | | | | | | |  __/ | | |<br>
            __\/_ \/   |_|_|_|\_\___/|_| |_| |_|_|_|_| |_|\___|_| |_|<br>
           / ____|               | |             | |        |__ \<br>
          | (___   __ _ _ __   __| | ___ _ __ ___| |_ _ __     ) |<br>
           \___ \ / _` | '_ \ / _` |/ _ \ '__/ __| __| '__|   / /<br>
           ____) | (_| | | | | (_| |  __/ |  \__ \ |_| |_    / /_<br>
          |_____/ \__,_|_| |_|\__,_|\___|_|  |___/\__|_(_)  |____|<br>"><br>
      __          ___ _ _<br>
      \ \        / (_) | |<br>
       \ \  /\  / / _| | | _____  _ __ ___  _ __ ___   ___ _ __<br>
        \ \/  \/ / | | | |/ / _ \| '_ ` _ \| '_ ` _ \ / _ \ '_ \<br>
         \  /\  /  | | |   < (_) | | | | | | | | | | |  __/ | | |<br>
        __\/_ \/   |_|_|_|\_\___/|_| |_| |_|_|_|_| |_|\___|_| |_|<br>
       / ____|               | |             | |        |__ \<br>
      | (___   __ _ _ __   __| | ___ _ __ ___| |_ _ __     ) |<br>
       \___ \ / _` | '_ \ / _` |/ _ \ '__/ __| __| '__|   / /<br>
       ____) | (_| | | | | (_| |  __/ |  \__ \ |_| |_    / /_<br>
      |_____/ \__,_|_| |_|\__,_|\___|_|  |___/\__|_(_)  |____|<br>
    </div>
  </flex-wrapper>
  <flex-wrapper>
    <img src="{{ url_for('static',filename='images/wolf.png') }}" border=""width="200px" height="250px">
</flex-wrapper>
<flex-wrapper>
    <p><a href="./index.html">Return</a> | <a href="./news">News</a> | <a href="./movies">Movies</a>  | <a href="./weather">Weather</a>  </p>
  </flex-wrapper>
</body>
</html>
