<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="Author" content=""/>
  <meta name="copyright" content=""/>
  <meta name="description" content="Welcome to my Homepage"/>
  <meta name="keywords" content=""/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
  </head>
<body>
  <flex-wrapper>
    <div class="glitch" data-text="Movies and More">Movies and More
    </div>
  </flex-wrapper>
  <flex-wrapper>
    </p>
      <a href="http://berrypi4.local:32400/web/">Click on this link</a>,
      and use the info below to sign-in to the Sanderstr. Plex Movie Server:
    </p>
    <p>
      username: wgsand123@mailinator.com<br>
      password: wgsand123
    </p>
</flex-wrapper>
<flex-wrapper>
    <p><a href="../">Return</a> | <a href="../news">News</a> | <a href="./movies">Movies</a>  | <a href="../weather">Weather</a> </p>
  </flex-wrapper>
</body>
</html>
